.daysCalendar {
  display: flex;
  flex-wrap: wrap; /* Permite que los días se envuelvan si hay demasiados para caber en una sola fila */
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
}

.daysCalendar li {
  margin: 10px;
  width: calc(100% / 7 - 20px); /* Para hacer que los días ocupen igual espacio en una fila */
  text-align: center;
}

.daysCalendar h1 {
  margin-bottom: 10px;
}

select, button {
  margin-top: 10px;
}

button {
  padding: 5px 10px;
  cursor: pointer;
}

button:hover {
  background-color: #007bff;
  color: white;
}